/* Search bar container */
.search-bar-wrapper {
  position: relative;
  width: 100%;
  padding-right: 2.5rem;
  margin-bottom: 0.5rem;
}

.search-bar {
  display: flex;
  width: 100%;
}


.dropdown-container {
  position: relative;
}

.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem 0 0 0.5rem;
  width: 10rem;
  cursor: pointer;
}

/* Secondary dropdown button (for genre), WILL ADD LATER :) */
.dropdown-container.secondary-dropdown {
  flex-grow: 1;
}

.secondary-button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-left: none;
  width: 100%;
}

.dropdown-arrow {
  margin-left: 0.5rem;
  font-size: 0.75rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.25rem;
  width: 100%;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-option {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f3f4f6;
}


.search-input {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-left: none;
  border-radius: 0 0.5rem 0.5rem 0;
  box-shadow: 0 0 0 1px rgba(63, 242, 156, 0.3);
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(63, 242, 156, 0.5);
}

.delete-button {
  position: absolute;
  right: 0.5rem; 
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: none;
  color: #ff0000;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  opacity: 0.8;
}

.delete-button:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}